{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>Blogs & News</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Login Form -->
            <form action="" method="post">
                {% csrf_token %}
                <label>
                    <h3>Sign in</h3>
                </label>
                <input type="email" class="fadeIn second" name="email_id" placeholder="Email Id" required>
                <input type="password" class="fadeIn third" name="password" placeholder="Password" required>
                <input type="submit" class="fadeIn fourth" value="Sign in">
            </form>

            <div>
                {% for message in messages%}
                {%if message.tags%}
                {%if message.tags == "warning" %}
                <label class="fadeIn second" style="color:rgb(240, 90, 90);">{{message}}</label>
                {%else%}
                <label class="fadeIn second" style="color:rgb(119, 202, 68);">{{message}}</label>
                {%endif%}
                {%endif%}
                {% endfor %}
            </div>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="forgotPwd">Forgot Password?</a>
                <br>
                Don't have an account? <a class="underlineHover" href="register">Sign Up</a>
            </div>

        </div>
    </div>
</body>

</html>